@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-secondary: #f97316;
  --color-accent: #facc15;
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: #1e293b;
}